<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
    <display-name>tienda_informatica</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>UsuariosFilter</filter-name> <!--Nombre clase del Filtro  -->
        <filter-class>org.iesbelen.filter.UsuariosFilter</filter-class> <!--Ubicacion del Filtro  -->
        <init-param>
            <param-name>aceso-concedido-a-rol</param-name> <!--nombre del webInitParam dentro del WebFilter  -->
            <param-value>adminitrador</param-value> <!--value del webInitParam dentro del WebFilter  -->
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>UsuariosFilter</filter-name> <!--Nombre clase del Filtro  -->
        <url-pattern>/tienda/usuarios/*</url-pattern> <!--Rutas en las que se aplica el filtro (usuarios/editar....) -->
    </filter-mapping>
</web-app>